name: Release

on: workflow_dispatch

jobs:
  build_release:
    uses: ./.github/workflows/_build_release.yml

  tagged_release:
    runs-on: ubuntu-latest
    steps:
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: "${{ needs.build_release.outputs.archive }}"
          prerelease: false
          fail_on_unmatched_files: true
          files: |
            ${{ needs.release.outputs.archive }}
